<!doctype html>
<head>
<title>RPS tournee</title>
</head>
<body>

  <h1>Compare RPSs</h1>

  <form method="post" action="{{ url_for('execute') }}">

  <p>First:
    <select name="first">
      {% for f in files %}
        <option value="{{f}}">{{f}}</option>
      {% endfor %}
    </select>
  </p>

  <p>Second:
    <select name="second">
      {% for f in files %}
        <option value="{{f}}">{{f}}</option>
      {% endfor %}
    </select>
  </p>

  <p><button type="submit">Fight!</button></p>

</form>

  <hr>

  <h1>Upload RPS</h1>

  <form method="post" action="{{ url_for('save') }}">

  <p>Name of this attempt</p>

  <p><input name="filename"></input></p>

  <p>Paste the code here</p>

  <p><textarea name="code" rows="10" cols="60"></textarea></p>

  <p><button type="submit">Upload</button></p>

</form>

  <hr>

  <h1>See RPS</h1>

  <form method="get" action="{{ url_for('see') }}">

  <p>

    <select name="filename">
      {% for f in files %}
        <option value="{{f}}">{{f}}</option>
      {% endfor %}
    </select>

    <button type="submit">See</button>
  </p>

</form>




</body>
</html>
